<div class="container">
  <div id="header" class="row v-spacer text-center">
    <img src="assets/img/burger.png" alt="Burger" class="img-responsive center-block">
    <h3>Eat-Da-Burger!!!</h3>
  </div>
  <div class="row v-spacer">
    <div class="col-xs-6">
      {{#each burgers}}
        {{#unless this.devoured}}
          <form class="row" action="/{{this.id}}?_method=PUT" method="POST">
            <div class="well well-sm well-info col-xs-8"><span>{{this.id}}. {{this.burger_name}}</div>
            <button type="submit" class="btn btn-warning col-xs-2 col-xs-offset-1 devour">Devour it!</button>
          </form>
        {{/unless}}
      {{/each}}
    </div>
    <div id="devoured" class="col-xs-5 col-xs-offset-1">
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="well well-sm">{{this.id}}. {{this.burger_name}}</div>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="row">
    <form action="/" method="post" class="form-horizontal col-xs-6 col-xs-offset-3 text-center v-spacer">
      <div class="form-group">
        <div>
          <input id="burgername" name="name" class="form-control input-lg" type="text" placeholder="Burger Name">
        </div>
      </div>
      <div class="form-group">
        <div>
          <button id="submit" type="submit" class="btn btn-primary" disabled>Submit</button>
        </div>
      </div>
      <strong>Enter a burger you want to eat &amp; Click the <mark>Submit</mark> button.</strong>
    </form>
    <form action="/delete?_method=DELETE" method="post" class="form-horizontal col-xs-6 col-xs-offset-3 text-center">
      <div class="form-group">
        <button id="delete" type="submit" class="btn btn-danger" disabled>Delete All Devoured Burgers</button>
      </div>
      <a class="btn btn-success" href="https://github.com/amirizad/eat_all_burgers" target="_blank"><span class="fa fa-github"></span> Open in GitHub</a>      
    </form>    
  </div>
</div>
<div class="footer">
  <div class="container">
    <p class="text-center">&copy; Copyright <script>document.write(new Date().getFullYear())</script> Amir Izadpanah</p>
  </div>
</div>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="assets/script/script.js"></script>